div{
   background-color: black;
    height: 30px;
    color: white;
*{
    text-decoration: none;
}
#id{
    text-decoration: none;
    background-color: none;
}
}
button{
    background-color:red;
}